<h3>プロフィール</h3>
  <table>
  　<tr>
      <th>画像</th>
      <td>
        <% if @user.image? %>
          <%= image_tag @user.image.url, width: 100 %>
        <% else %>
          <%= image_tag("/user_images/default_user.jpeg") %>
        <% end %>
      </td>
    </tr>
    <tr>
      <th>名前</th>
      <td><%= @user.name %></td>
    </tr>
    <tr>
      <th>性別</th>
      <td><%= @user.gender %></td>
    </tr>
    <tr>
      <th>年齢</th>
      <td><%= @user.age %></td>
    </tr>
    <tr>
      <th>メールアドレス</th>
      <td><%= @user.mail %></td>
    </tr>
    <tr>
      <th>自己紹介</th>
      <td><%= @user.introduction %></td>
    </tr>
  </table>
  <div>
      <%= link_to "編集", edit_user_path %>
  </div>