<h3>登録リスト</h3>
<% @inns.each do |inn| %>
    <table class="inns-box">
        <tr><td>id：<%= inn.id %></td></tr>
        <tr><td>投稿者：<%= inn.user.name %></td></tr>
        <tr><td>
            イメージ：
            <% if inn.image? %>
                <%= image_tag inn.image.to_s, width: 200 %>
            <% else %>
                <%= image_tag "/inn_images/default_inn.jpg", width: 200 %>
            <% end %>
        </td></tr>
        <tr><td>紹介：<%= inn.introduction %></td></tr>
        <tr><td>価格：<%= inn.price %>円</td></tr>
        <tr><td>所在地：<%= inn.location %></td></tr>
        <tr><td><%= link_to "みる", inn_path(inn.id) %></td></tr>
    </table>
<% end %>

<% if @current_user %>
    <%= link_to "宿登録する", new_inn_path %>
<% end %>