<h3>予約詳細</h3>
<li>予約id：<%= @reservation.id %></li>
<li>予約日：<%= @reservation.created_at %></li>
<li>チェックイン日：<%= @reservation.start_date %></li>
<li>チェックアウト日：<%= @reservation.end_date %></li>
<li>人数：<%= @reservation.people %>人</li>
<li>合計金額：<%= @reservation.total_price %>円</li>